###directories
.vs/
bin/Debug-x64/
bin/Release-x64/
bin-int/
vender/SFML-2.5.1/examples/
vender/SFML-2.5.1/doc/
vender/SFML-2.5.1/lib/cmake/
#SandBox/src

#pycache
SandBox/__pycache__/


###files
*.psd
#SandBox/test.xml
